<%- include("partials/header") -%>

<h1>Compose</h1>
<form class="" action="/compose" method="post">

<label for="">Title</label>
<input class="form-control form-control-sm" type="text" name="firstInput">

<label for="">Post</label>
<div class="form-group">
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="secondInput"></textarea>
</div>

<button type="submit" class="btn btn-primary" name="button">Publish</button>

</form>



<%- include("partials/footer") -%>
